// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// ========================================================
// MAIN
// ========================================================

.footer {
	padding: 61px 0;
	background-color: $textColor;
}

.footer__container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
 }

 // ========================================================
// FLEX
// ========================================================

 .footer__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 68px;

	@media (max-width:$md3+px){
		justify-content: space-evenly; 
	}
 }

 .footer__list {
	 display: inline-flex;
	 gap: 25px;

	 @media (max-width:$md4+px){
		  gap: 15px;
		  justify-content: center;
		  text-align: center; 
	 }
 }

 .footer__form {
	 flex-basis: 290px;
 }

 // -----------------------------------------------------------------------------
// TYPO
// -----------------------------------------------------------------------------

 .footer__item,
 .footer__list-link {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.2px;
	color: #EDDBBE;
	text-transform: capitalize;
 }

 .footer__social {
	 a	{
		 margin-right: 25px;
		 &:last-child {
			 margin-right: 0;
		 }
	 }
 }