// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// ========================================================
// MAIN
// ========================================================

.footer {
	padding: 61px 0;
	background-color: $textColor;
}

.footer__container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
 }

 // ========================================================
// FLEX
// ========================================================
/*
 .footer__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 68px;

	@media (max-width:$md3+px){
		justify-content: space-evenly; 
	}
 }
*/
 .footer-grid {
	 display: grid;
	 justify-items: baseline;
	 justify-content: space-around;
	 gap: 0px 68px; 

 }

 .footer-grid-2 {
	grid-template-columns: repeat(2, 1fr);  
	grid-template-rows: auto; 
 }

 .footer-grid-3 {
	grid-template-columns: repeat(3, 1fr);  
	grid-template-rows: auto; 
}

.footer-grid-4 {
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: 1fr;
}

 .footer__list {
	 display: flex;
	 gap: 25px;

	 @media (max-width:$md4+px){
		  gap: 15px;
		  justify-content: center;
		  text-align: center; 
	 }
 }

 .footer__list-item {
	flex-basis: 115px;
}
.footer__item {
	width: 100%;
}
 .footer__form {
	 flex-basis: 290px;
 }

 // -----------------------------------------------------------------------------
// TYPO
// -----------------------------------------------------------------------------

 .footer__item,
 .footer__list-link {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.2px;
	color: #EDDBBE;
	text-transform: capitalize;
 }

 .footer__social {
	 a	{
		 margin-right: 25px;
		 &:last-child {
			 margin-right: 0;
		 }
	 }
 }

// -----------------------------------------------------------------------------
// TYPO
// -----------------------------------------------------------------------------

 .footer-social__svg {
	 fill: #EDDBBE;
	 transition: all .3s ease-in;

	 &:hover {
		 fill: #bdb09b;
	 }
 }