// ========================================================
// MAIN
// ========================================================

.shop-all {
  padding: 140px 0;
  background-color: #eddbbe;

  @media (max-width: $md3+px) {
    padding: 140px 0 60px;
  }
}

.shop-all__container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}

.shop-all__box {
  position: relative;
}

.shop-all__content {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 15%;

  @media (max-width: $md2+px) {
    left: 5%;
  }

  @media (max-width: $md3+px) {
    top: -25%;
    text-align: center;
	 left: 0;
	 right: 0;
  }
}

// ========================================================
// IMAGE
// ========================================================

.shop-all__image {
  position: relative;
  margin-left: auto;
  width: 800px;
  height: 519px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  @media (max-width: $md2+px) {
    max-width: 100%;
    height: 440px;
    opacity: 0.5;
  }
}

// ========================================================
// CONTENT
// ========================================================

.shop-all__title {
  margin-bottom: 185px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  color: $textColor;
  max-width: 580px;

  @media (max-width: $md2+px) {
    margin-bottom: 110px;
  }

  @media (max-width: $md3+px) {
    font-size: 75px;
    line-height: 85px;
    margin-bottom: 165px;
    text-align: center;
	 max-width: 100%;
  }

  @media (max-width: $md4+px) {
    font-size: 60px;
    line-height: 75px;
  }
}
