.we-stand {
  padding-bottom: 75px;
  text-align: center;
}

.we-stand__container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}

// ========================================================
// FLEX
// ========================================================

.we-stand__box {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  
  gap: 55px;

  @media (max-width:$md2+px){
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.we-stand__item {
	flex-basis: 115px;
}

// ========================================================
// TYPO
// ========================================================

.we-stand__title {
  margin-bottom: 45px;
}

.we-stand__subtext {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

// ========================================================
// IMAGES
// ========================================================

.we-stand__png {
  margin-bottom: 26px;

  width: 47px;
  height: 47px;

  object-fit: contain;
}
