
.fullscreen {
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	padding: 20px 0 80px;

	&.banner {
		align-items: center;
	}

	@media (max-width:$md4+px){
		 align-items: center; 
	}
}
.fullscreen-one {
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.fullscreen-two {
	background-image: url(../images/banner-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.fullscreen__body {
	flex: 1 1 auto;
	width: 100%;
	// padding: 50px 20px;
	// max-width: 1200px;
	margin: 0px auto;
	text-align: center;

	@media (max-width:$md4+px){
		 padding: 0; 
	}
}