
.fullscreen {
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	padding: 20px 0 80px;

	background-image: url(../../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@media (max-width:$md4+px){
		 align-items: center; 
	}
}
.fullscreen_one {
	background-color: #7a956b;
}

.fullscreen__body {
	flex: 1 1 auto;
	width: 100%;
	padding: 50px 20px;
	max-width: 1200px;
	margin: 0px auto;
	text-align: center;

	@media (max-width:$md4+px){
		 padding: 0; 
	}
}